header, footer {
  font-family: 'Bad Script', Franklin Gothic Book, Arial, sans-serif;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
}

.links {
  display: inline-block;
  height: 40px;
  line-height: 80px;
  position: relative;
  top: -30px;
  vertical-align: middle;
}

.links a {
  padding: 10px 0;
  margin: 0 8px;
  border: none;
}

header a, footer a {
  text-decoration: none; color: #505050;
}

header a:hover, footer a:hover {
  color: #9326C0;
  border-bottom: 1px solid #9326C0;
}

.wrapper {
  padding: 80px;
  background: #fff;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #505050;
  border-bottom: 1px solid #9326C0;
  transition: color 0.2s;
}

a:hover {
  color: #9326C0;
  border-color: #9326C0;
}

body {
  background: #f4f4f4;
  font-family: Lora, Georgia, Baskerville, serif;
  color: #505050;
  margin: 0px;
  padding: 0px;
}

.title {
  color: #9326C0;
}

.subtitle {
  color: #9326C0;
  border-bottom: 2px solid #f4f4f4;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.centered-img {
  width: 100px;
}

@media only screen and (max-device-width: 480px) {
  header, footer, .wrapper {
    padding: 20px;
  }
}

@media only screen and (max-device-width: 410px) {
  .wrapper {
    margin-top: 75px;
  }
}
